PORT=4173
ADMIN_PASSWORD=55aiden55
COACH_PASSWORD=password
SESSION_SECRET=replace-with-a-long-random-secret

DISCORD_WEBHOOK_URL=replace-with-discord-webhook-url

EMAIL_USER=titansupdate@gmail.com
EMAIL_APP_PASSWORD=replace-with-gmail-app-password
EMAIL_FROM=titansupdate@gmail.com
EMAIL_ALERT_CC=titansupdate@gmail.com

TURTLE_CLUB_USERNAME=replace-with-turtle-club-username
TURTLE_CLUB_PASSWORD=replace-with-turtle-club-password
